.header {
    display: flex;
    justify-content: space-between;
    background-color: #f0f2f2;
    padding: 0px 20px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header-logo {
    width: 100px;
    height: 100px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header-burger {
    font-size: 30px;
}

.header-link {
    display: flex;
    flex-direction: column;
}

.header-link-number {
    color: #b024b1;
    display: flex;
    flex-direction: row-reverse;
    padding: 3px;
    border-right: 2px solid;
}

.header-link-name {
    font-size: 1.25rem;
}

.header-link-cv {
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.25rem;
}

.header-link-cv:hover {
    cursor: pointer;
    background-color: #393e59;
    color: #f0f2f2;
}

.nav {
    display: none;
    position: fixed;
    right: 0;
    flex-direction: column;
    top: 100px;
    background-color: #f0f2f2;
    padding: 20px;
}

.visible {
    display: flex;
}

@media (min-width: 750px) {
    .nav {
        display: flex;
        flex-direction: row;
        position: initial;
        gap: 30px;
    }
    .header-links {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .header-burger {
        display: none;
    }
}
