.intro-section {
    padding: 30px 10%;
    background-color: #6991d1;
    height: calc(100vh - 100px);
    position: relative;
}

.intro {
    display: flex;
    align-items: center;
    height: 100%;
}

.intro-title {
    color: white;
    font-size: 4rem;
    font-weight: 500;
}

.intro-subtitle {
    color: white;
    font-weight: 400;
    font-size: 2.25em;
}

.intro-text {
    color: white;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.25em;
    opacity: 0;
    animation: fadeIn 2s 2s ease-in forwards;
}
.intro-arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    font-size: 30px;
    color: white;
    animation: arrowAnimation 1s infinite alternate ease-in-out;
}

@keyframes arrowAnimation {
    0% {
        transform: translate(-15px, 0);
    }
    100% {
        transform: translate(-15px, 20px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.intro-icons {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 15px;
}

.intro-icon {
    font-size: 3em;
    color: white;
}

.intro-img {
    align-self: center;
    margin-left: 50px;
}

@media (min-width: 750px) {
    .intro-container {
    }
}

@media (min-width: 850px) {
    .intro-wrapper {
    }
}

@media (max-width: 1000px) {
    .intro-img {
        display: none;
    }
}
