.intro {
    display: flex;
    padding: 30px 10%;
    background-color: #6991d1;
}

.intro-container {
}

.intro-title {
    color: white;
    font-size: 4rem;
    font-weight: 500;
}

.intro-subtitle {
    color: white;
    font-weight: 400;
    font-size: 2.25em;
}

.intro-text {
    color: white;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.25em;
    opacity: 0;
    animation: fadeIn 2s 2s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.intro-icons {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 15px;
}

.intro-icon {
    font-size: 3em;
    color: white;
}

.intro-img {
    align-self: center;
    margin-left: 50px;
}

@media (min-width: 750px) {
    .intro-container {
    }
}

@media (max-width: 1000px) {
    .intro-img {
        display: none;
    }
}
