.projects {
    margin-top: 80px;
}

.projects-wrapper {
    width: 100%;
    position: relative;
}

.projects-title {
    color: #393e59;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.projects-img {
    width: 100%;
    height: 50%;
}

.projects-text {
    color: white;
    background-color: #6a73a6;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.projects-header {
    display: flex;
    gap: 16px;
}

.projects-github {
    font-size: 24px;
}
