.section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.section-title {
    color: #393e59;
    font-size: 2rem;
    display: flex;
    gap: 10px;
}

.section-number {
    color: #b024b1;
    padding: 3px;
    border-left: 2px solid;
    font-size: 1rem;
}

@media (min-width: 1250px) {
    .section {
        margin-left: 20%;
    }
}
